// #map{
//     height: 180vh;
//     width: 280vh;
// }

.weatherData
{
    width: -20vh;
    height: 100vh;
}
.description
{font-weight: 500;
    font-family: fantasy;
    font-size: xx-large;
   color:white;
   text-shadow:  2px 4px rgb(141, 8, 97);
}

.city{
    font-family: fantasy;
    font-weight: 500;
    font-size: xx-large;
color:white;
text-shadow:  2px 4px rgb(141, 8, 97);
}

.date{
    font-weight: 500;
    font-family: fantasy;
    font-size: xx-large;
  color:white;
  text-shadow:  2px 4px rgb(141, 8, 97);

}
.humidity{
    font-weight: 500;
    font-family: fantasy;
    font-size: xx-large;
    color:white;
    text-shadow:  2px 4px rgb(141, 8, 97);
    

}
.percipitation{
    font-weight: 500;
     font: bolder;
    font-family: fantasy;
    font-size: xx-large;
color:white;
text-shadow:  2px 4px rgb(141, 8, 97);


}

.pressure{
     font-weight: 500;
     font: bolder;
   font-family: fantasy;
    font-size: xx-large;
   color:white;
   text-shadow:  2px 4px rgb(141, 8, 97);
   

}
