<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
      <div class="navbar-nav mb-0 h4">
        <a class="nav-link active" aria-current="page"  routerLink="/PersonalDetails">Home</a>
        <a class="nav-link active" aria-current="page" routerLink="/About">About</a>
        <a class="nav-link  active" aria-current="page"routerLink="/Certificates">Cv</a>
        <a class="nav-link active" aria-current="page"routerLink="/Portfolio">Portfolio</a>
        <a class="nav-link active"aria-current="page" routerLink="/Contacts">Contacts</a>
        <a class='fas fa-map-marked-alt' routerLink="/UserLocation" style='font-size:48px;color:rgb(196, 47, 151)'></a>
      </div>
  </div>
</nav>

<div id="map"></div>

<div *ngIf="weather" class="weatherData">
  <span class="city"> {{weather.name}}</span>
    <span class="date">{{date | date}}</span>

    <div class="icon">
      <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png"  alt="">
    </div>

    <span class="description">{{weather.t}}</span>
    <span class="description"> {{weather.weather[0].main}}</span>
    <span class="description">{{weather.temp}}</span>
  </div>