<div class="card w-100" style="width: 18rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i5.walmartimages.com/asr/99bdf955-59e2-41e5-841d-1e0ae71e1f83_1.cc0b0519209fd51fb794be7eb038564b.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">A motivated software developer intern from Tshwane university of technology 
            <br>with less than 1 year of experience in developing software applications<br>
             having a strong communication and leadership skills.
        </p>
        <p class="card-text2">
          I am  24 years old, originally from mpumalanga in kwandebele,
           <br>my love for programming started when I was doing Grade 12 <br>when a student from university  came to our school for career expo <br>
            I knew from then that i want to be a programmer. 
        </p>
        <a routerLink=""class="btn btn-secondary">Back to Home</a>
      </div>
    </div>
  </div>
</div>
