<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
      <div class="navbar-nav mb-0 h4">
        <a class="nav-link active" aria-current="page"  routerLink="/PersonalDetails">Home</a>
        <a class="nav-link active" aria-current="page" routerLink="/About">About</a>
        <a class="nav-link  active" aria-current="page"routerLink="/Certificates">Cv</a>
        <a class="nav-link active" aria-current="page"routerLink="/Portfolio">Portfolio</a>
        <a class="nav-link active"aria-current="page" routerLink="/Contacts">Contacts</a>
        <a class='fas fa-map-marked-alt' routerLink="/UserLocation" style='font-size:48px;color:rgb(196, 47, 151)'></a>
      </div>
  </div>
</nav>

<head>

   <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="card w-100" style="width: 18rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i5.walmartimages.com/asr/99bdf955-59e2-41e5-841d-1e0ae71e1f83_1.cc0b0519209fd51fb794be7eb038564b.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">About Me.</h1>
        <h3 class="title">Developer & Designer</h3>
         <P>
          I am a very dynamic individual who works hard, and knows how to balance working very hard and having fun.
           fun to work with and adapt easily, i love challenges and open to critiques.
          My weakeness point would be "I have trouble saying No", simply because i love helping others
           and my Strength would be that i am very much self-descipline.
        </P>

        <p class="card-text">A software developer intern from Tshwane university of technology 
            <br>with less than 1 year of experience in developing software applications<br>
             having a strong communication, leadership<br> and Coding skills.
        </p>
        <p>
         I can provide clean code and pixel perfect design,<br> my favourite programming language is C#
 and my first programming language was C++, I am Oracle Certified (Java OCA JSE8) And Microsoft Certified (AZ-900)
 <br> and I also completed my MTN Business App Academy Intermediate POE and obtained my Certificate of completion <br> and lastly I am  LEMON certified it is a  leadership skills training from Hosi Academy
        </p>

       
         <div  class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>11 July 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.anegel.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+27 72 687 4771</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gauteng</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>National Diploma IT(software)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>thulisile.ma98@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Availability:</strong> <span>immediately</span></li>
                </ul>
              </div>
               <a routerLink=""class="btn">Back to Home</a>
            </div>
      </div>
    </div>
  </div>
</div>