.flex-grid-col {
  display: flex;
}

.p-3{

      display:inline;

}

 
@media (max-width: 500px) {
  .flex-grid-col {
    display: block;
  }
  .col {
    flex: 1;
  }
  .txt-col {
    flex: 2;
  }
}
.navbar 
{
width: 270;
 background: var(--bg-black-100);
display: block;
position: fixed;
left: 0;
top: 0%;
padding: 30;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;

}


.car2{
  
  color: rgb(124, 117, 117);
  font-weight:500;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 20%,
    white 56%,
   rgb(131, 32, 78) 100%,
    grey 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-family: fantasy;
 
}
.car3{
  color: #aaa9aa;
  font-weight: 500;

  font-size: larger;
}
.ref{

color: white;
text-shadow:  2px 4px rgb(141, 8, 97);
font-family: fantasy;
}

.btn{
font-weight: 600;
  border-color: rgb(141, 8, 97);
  background-color:rgb(141, 8, 97);
  color:white;
}

.nav.container-fluid.navbar-nav a {
color: rgb(141, 8, 97);
  font-weight: 100;
}

.nav-item
{
    .nav-link{
        color: rgb(141, 8, 97);
        // font: 1em sans-serif;
    }
   


}
.offcanvas-body
{
background-color:rgb(15, 15, 15);
font-size: large;
font-weight: bold;
text-decoration-color: antiquewhite;
font-style: normal;


}

.navbar 
{
position: sticky;
    top: 0;
    display: flex;
    list-style-type: none;
    background-color: #aaa9aa;
    width: 100%;

}


.nav-link
{
    color: rgb(218, 216, 216);
    font-size: larger;
    font-style: normal;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-weight: 300;
    
}
.navbar-nav{
    color: rgb(134, 21, 55);
    text-decoration-color: aqua;
}

.carousel-caption
{
  
    top: 200px;
    bottom: 280px;
}

.occupation{
    color: rgb(131, 32, 78);
    font-weight: bold;
    font-family: Verdana;
}

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.image{
  background-size: cover;
  background-position: 50%;
}


.name{
    font-family: fantasy;
  color: rgb(131, 32, 78);
  font-size: 70px;
  font-weight: 500;
}

.caption{
  font-family: fantasy;
  font-size: 40px;
  font-weight: 500;
  text-shadow:  2px 4px rgb(141, 8, 97);
}
.quote{
   font-family: fantasy;
  color: rgb(131, 32, 78);
  font-size: 70px;
  font-weight: 500;

}
.about
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
   rgb(131, 32, 78) 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
      font-family: fantasy;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.desc{
  font-family: fantasy;
  font-size: 40px;
  font-weight: 500;
  width: 44ch;
  animation: typing 4s steps(27), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  text-shadow:  2px 4px rgb(141, 8, 97);
  //  display: inline-block;

 
}

@keyframes typing {
  from {
    width: 0
   
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent,
   
  }
}

